<div class="container text-center">
    <div class="col-md-6 col-md-offset-3 panel panel-default">
        <div class="panel-body">
            <div class="col-md-12"
                 style="margin-bottom: 15px;">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Question...">
                    <span class="input-group-btn">
                      <button class="btn btn-info" (click)="loadResponseYesNo()" type="button">Answer!</button>
                    </span>
                </div>
            </div>
            <div class="col-md-12"
                 *ngIf="yesNo$ | async as yesno">
                <div class="col-md-12 text-center">
                    <img src="{{ yesno.image }}"
                         class="img-responsive" alt="">
                </div>
                <div class="col-md-12">
                    <h2><b>¡&nbsp;{{ yesno.answer | uppercase }}&nbsp;!</b></h2>
                </div>
            </div>
        </div>
    </div>
</div>